:root {
  --bg: #ffffff;
  --text: #000000;
  --primary: #0a123f;
  --primary-hover: rgb(5, 49, 5);
  --card-bg: #ffffff;
  --btn-bg: var(--primary);
  --btn-hover: var(--primary-hover);
  --bg-mobile: #fff;
}
.dark-mode {
  --bg: #070f1f;
  --text: #f5f5f5;
  --primary: #0a123f;
  --primary-hover: rgb(5, 49, 5);
  --card-bg: #323d4d;
  --btn-bg: #0a123f;
  --btn-hover: var(--primary-hover);
  --bg-mobile: #212529;
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}
.navbar,
.custom-bg {
  background-color: var(--primary) !important;
}
nav .text-a:hover {
  color: white;
}
.text-a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif
}
.dropdown-menu {
  background-color: var(--primary);
  color: var(--text);
  border-color: var(--primary);
}
.dropdown-item {
  color: white;
}
.dropdown-item:hover {
  color: #000;
}
.img-opacidade {
  opacity: 0.7;
  filter: brightness(30%);
}
.btn-custom {
  background-color: var(--btn-bg);
  color: #fff;
  border: none;
  margin-bottom: 3px;
}
.btn-custom:hover {
  background-color: var(--btn-hover);
  color: white;
}
.card {
  background-color: var(--card-bg);
  color: var(--text);
}
a {
  color: var(--text);
  text-decoration: none;
}
a:hover {
  color: #0e0d57;
}
.form-control,
.form-select {
  background-color: var(--card-bg);
  color: var(--text);
}
section {
  background-color: var(--bg);
  padding: 2rem 0;
}
footer {
  background-color: var(--primary);
  color: #fff;
  padding: 20px;
  text-align: center;
}
.dark-mode .form-control,
.dark-mode .form-select {
  background-color: var(--card-bg);
  color: var(--text);
}
#resultado {
  background-color: var(--bg-mobile);
  margin: 0 20px;
  border-radius: 10px;
  padding: 10px;
  }
.pagina-reservas {
  background-color: rgba(255, 255, 255, 0.514);
  background-image:
    linear-gradient(180deg, rgba(13, 110, 253, 0.15), transparent 85%),
    radial-gradient(ellipse at top left, rgba(13, 110, 253, 0.2), transparent 50%),
    radial-gradient(ellipse at bottom right, rgba(48, 108, 177, 0.2), transparent 50%),
    radial-gradient(ellipse at center left, rgba(82, 157, 201, 0.473), transparent 50%);
}
.dark-mode.pagina-reservas {
  background-color: #0b132c98;
  background-image:
    linear-gradient(180deg, rgba(76, 146, 250, 0.25), transparent 85%),
    radial-gradient(ellipse at top left, rgba(113, 166, 245, 0.25), transparent 50%),
    radial-gradient(ellipse at bottom right, rgba(66, 106, 193, 0.25), transparent 50%),
    radial-gradient(ellipse at center left, rgba(35, 177, 243, 0.37), transparent 50%);
}
@media (max-width: 430px) {
  .img-opacidade{
    opacity: 0.7;
    filter: brightness(30%);
    object-fit: cover;
    height: 400px;
  }
  .btn-custom{
    background-color: #101947;
  }
  .btn-custom:hover{
    background-color: var(--btn-hover)
  }
  form{
    background-color: var(--bg);
    margin: 0 20px;
    border-radius: 10px;
  }
  #resultado{
    background-color: var(--bg-mobile);
    margin: 0 20px;
    border-radius: 10px;
  }
}